<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> TodoWeb </title>
    <link rel="stylesheet" href="/dist/components.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
    @RenderBody()
</body>
</html>